.adventure-content img{
	height: 100%;
}

.adventure-content .storyInfo h3 a,
.adventure-content .storyInfo h3 a:visited,{
	font-size: 1.5rem;
	color: #DDD;
}

.adventure-content .storyInfo h3 a:hover {
	color: orange;
}
.adventure-content {
	display: flex;
}

.wrapperRight {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}

.wrapperRightBottom {
	display: flex;
	justify-content: space-between;
}

.storyWrapper {
	position: relative;
}

.storyInfo{
	position: absolute;
	top: 0;
	left: 5%;
}

.adventures .adventure-94 {
	flex-basis: 50%;
	margin-right: 10px;
}

.adventures .adventure-94 h3 a {
	font-size: 3rem;
}

.adventures .adventure-73 {
	border-bottom:10px;
}

.adventures .adventure-73 img {
	height: 31vh;
}

.adventures .adventure-72 {
	margin-right:10px;
}

.post-type-archive-adventures .archive {
	display: flex;
	flex-wrap: wrap;
	border-top: 3px dotted #e1e1e1;
	justify-content: space-between;
	padding-top: 30px;
}

.post-type-archive-adventures .archive .storyWrapper {
	width: 49%;	
}

.home .adventure-content {
	margin-bottom: 30px;
}

/*
	================================================================================
						ARCHIVE PAGE 
  ================================================================================

*/
.adventures-archive-title {
	text-align: center;
	font-family: fontAccentNormal;
	font-size:2.5rem;
}

.post-type-archive-adventures a {
	color: white;
}

.post-type-archive-adventures h3{
	font-size: 2rem;
}



/*
	================================================================================
						SINGLE PAGE 
  ================================================================================

*/

.single-adventures .content-area {
	padding: 33px 0;
}

.single-adventures .storyInfo-single,
.single-adventures .adventure-social-btns,
.single-adventures p{
	padding: 0 16%;
}

.single-adventures .storyInfo-single a {
	color: black;
	font-size: 2rem;
}

.single-adventures .storyInfo-single .adventure-author {
	text-transform: uppercase;
}

.single-adventures .site-footer p{
	padding:0;
}






