.adventure-content {
	display: flex;
}

.wrapperRight {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}

.wrapperRightBottom {
	display: flex;
	justify-content: space-between;
}

.storyWrapper {
	position: relative;
}

.storyInfo{
	position: absolute;
	top: 0;
	left: 0;
}

.adventures .adventure-94 {
	flex-basis: 50%;
	margin-right: 10px;
}

.adventures .adventure-73 {
	border-bottom:10px;
}

.adventures .adventure-73 img {
	height: 31vh;
}

.adventures .adventure-72 {
	margin-right:10px;
}

.post-type-archive-adventures .archive {
	display: flex;
	flex-wrap: wrap;
}

.post-type-archive-adventures .archive .storyWrapper {
	width: 49%;
	margin-right: 10px;
}





