.productType-info .shopStuff {
	display: flex;
	text-align: center;
	justify-content: space-between;
	font-family: MerriweatherLight;
}

.productType-info .productType {
  max-width: 23.5%;
	border: 1px solid #e1e1e1;
  border-top-width: 5px;
  padding: 0.75rem;
  box-sizing: border-box;;
}

.productType-info img {
	width: 30%;
	height: 30%;
	display: block;
	margin: 0 auto;
}

.products a:link,
.products a:visited, {
	color: #aaa;
}

.products a:hover, {
	color: #ccc;
}

.tax-Type .archive {
	display: flex;
}

.tax-Type .archive img, .post-type-archive-products .archive img{
	height: 30vh;
	width: 100%;
}

.post-type-archive-products .archive,
.tax-Type .archive {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 5%;
	border-top: 3px dotted #e1e1e1;
	padding-top: 5%;
}

.post-type-archive-products .archive article,
.tax-Type .archive article {
	flex-basis: 23%;
	margin-top: 2%;
}

.products-arch-metaInfo{
	display: flex;
}

.products-single{
	display:flex;
}

.products-single .entry-content {
	flex-basis: 50%;
	margin-left: 30px;
}

// Archive page

.post-type-archive .content-area,
.tax-Type .content-area {
	padding: 3% 1%;
}

.post-type-archive-products .products-archive-title,
.post-type-archive-products	.products-nav,
.tax-Type .page-header {
	text-align: center;	
}

.post-type-archive-products .products-nav a {
	margin-right: 5px;
	padding-right: 3px;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.post-type-archive-products .products-nav {
	margin-bottom: 3%;
}

.post-type-archive-products .entry-content,
.tax-Type .entry-content, {
	margin:0;
	border-left: 0 3px solid #e1e1e1;
	border-right: 0 3px solid #e1e1e1;
	border-bottom: 0 3px solid #e1e1e1;
	display: flex;
  justify-content: center;
}

.post-type-archive-products .archive .entry-header,
.tax-Type .entry-header {
	border-bottom: 7px solid #e1e1e1;
}

.post-type-archive-products .archive a:link,
.post-type-archive-products .archive a:visited,{
	color: black;
}






