.search .content-area {
	padding: 3%;
	width: 67%;
	border-top: 3px solid #e1e1e1;
}

.search .widget-area{
	padding-left: 2%;
	width: 33%;
	float: right;
	border-top: 3px solid #e1e1e1;
	border-left: 3px solid #e1e1e1;	
}